/* reset margin, padding */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 100%;
  background: url("./banner.jpg") center center no-repeat;
  background-size: cover;
  padding: 10px;
}
.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-sign-in .about,
.banner .about-sign-in .sign-in {
  margin-top: 20px;
  padding: 7px 12px;
  text-decoration: none;
  display: inline-block;
  color: #F2F2F2;
}
.banner .about-sign-in .sign-in {
  margin-right: 60px;
  margin-left: 20px;
  border: 2px solid #EDEDED;
  border-radius: 20px;
}
.banner .logo {
  background: url("./logo.png") center center no-repeat;
  background-size: contain;
  margin-top: 40px;
  height: 100px;
}
.banner .text {
  text-align: center;
  margin-top: 40px;
  color: white;
}
.banner .text span {
  font-size: 50px;
  color: #FFD700;
}
.banner .btn-start-now {
  margin-top: 20px;
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 7px 12px;
  border: 2px solid #EDEDED;
  border-radius: 20px;
  cursor: pointer;
}
.banner .content-center {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.banner .content-center .left, .banner .content-center .center, .banner .content-center .right {
  width: 33%;
  display: inline-block;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.banner .content-center span {
  display: block;
  font-size: 30px;
}
.banner .content-center img {
  width: 30px;
  height: 30px;
}
